body {
    background-color: rgb(253, 241, 253);
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

p {
    font-size: 20px;
    width: 50%;
}